{% load static %}
<a href="#"><img src= {% static "images/heatmap.png" %} alt="Fifa Heatmap" style="width:1500px;height:960px;"></a>


<a href="#"><img src= {% static "images/histogram.png" %} alt="Fifa Heatmap"></a>


<a href="#"><img src= {% static "images/distofages.png" %} alt="Fifa Heatmap"></a>


<a href="#"><img src= {% static "images/overalls.png" %} alt="Fifa Heatmap"></a>


<a href="#"><img src= {% static "images/playerspos.png" %} alt="Fifa Heatmap"></a>


<a href="#"><img src= {% static "images/cirgraph.png" %} alt="Fifa Heatmap"></a>


<a href="#"><img src= {% static "images/dirb_vs_cross.png" %} alt="Fifa Heatmap"></a>


<a href="#"><img src= {% static "images/stamina_vs_age.png" %} alt="Fifa Heatmap"></a>
